Cython==0.29.13
numpy==1.18.4
tensorflow==1.15
keras==2.3.1
scikit-learn==0.23.2
matplotlib==3.2.1
contextlib2==0.6.0.post1
redis==3.5.1
celery==4.4.2
kombu==4.6.8
networkx==2.3
defusedxml==0.6.0
test-generator==0.1.1  
pymongo==3.11
pandas==0.25.1
paho-mqtt==1.4.0
gast==0.2.2
h5py==2.10.0
tqdm==4.51.0
pathos==0.2.9
protobuf==3.19.0
Pillow==6.2.2
importlib-metadata==4.13.0